table th , table td{
  border: 2px solid white;
  padding: 10px;
}

thead{
  background-color: aquamarine;
  color: black;
  font-weight: bold;
}

.cv-preview{
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 5px solid white;
  flex-direction: column;
  padding: 20px;
}
.general-info,
.education-info,
.practical-info{
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-input-preview{
  display: grid;
  grid-template-columns: 400px 1fr;
}

.cv-preview-container{

}


.name{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.address{
  text-align: center;
}
.cv-preview-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  padding: 10px;
}
.education-setting{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.title{
  font-weight: bold;
  font-size: 16px;
}
.cv-title{
  text-align: center;
}
.general-info-preview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.line{
  width: 100%;
  border: 1px solid black;
  margin: 10px 0px 10px 0px;
}
.major_ba{
  font-weight: bold;
}

.education-section-preview{
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}
.section-school{
  display: flex;
  font-weight: bold;
  font-size: 16px;
  gap: 10px;
  justify-content: space-between;
}
.section-school-major{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}


@media screen and (max-width:880px) {
  .container-input-preview{
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width:880px) {
  .cv-preview-list{
    padding: 40px;
  }
}